 <% include ../partials/header %>

 <div class='chart'>

  <h1 class='bday'>TOP 10 SONGS </br>
  ON YOUR BDAY </h1>

  <a href="/playlist/new">Add to your list</a>
  <a href= '/'> New Search</a>
  <a href= '/playlist'> See your List</a>

<div class='chart-list outer-list'>
  <% let video = firstVideo.link %>
  <% let embed = video.replace('watch?v=','embed/') %>
    <div class='iframe-container'>
      <iframe src='<%= embed %>' iframeborder='0' allow='autoplay; encrytped-media' allowfullscreen> Listen: <%= firstVideo.title %></iframe>
    </div>
  </div>
  <div class='chart-list-item'>
    <% playlist.forEach(song => { %>
  <div class='chart-list-item__rows'>
    <div class='chart-list-item__position'>
      <div class= 'chart-list-item__rank'><%= song.rank %> </div>
    </div>
    <div class='chart-list-item__image-wrapper'>
    <div class='chart-list-item__image'><img src="<%= song.cover %>" alt="Song Cover" height="75" width="75"></div></div>
    <div class='chart-list-item__text-wrapper'>
      <div class='chart-list-item__title'><%= song.title %></div>
      <div class='chart-list-item__artist'> by <%= song.artist %></div>
    </div>
  </div>
  <% }); %>
  </div>
</div>


  <% include ../partials/footer %>
