 <% include ../partials/header %>

 <div class='apilist'>

  <h1 class='bday'>TOP 10 SONGS </br>
  ON YOUR BDAY </h1>

  <a href="/playlist/new">Add to your list</a>
  <a href= '/'> New Search</a>
  <a href= '/playlist'> See your List</a>

  <div class='apilista'>
   <a href='<%= firstVideo.link %>' target="_blank"> Listen: <%= firstVideo.title %></a>
  </div>
  <div class='listelist'>
    <% playlist.forEach(song => { %>
  <div class='apilistsongs'>
  <hr>
  <div class='rank'>  <div class= 'anotherrank'><%= song.rank %> </div></div>
  <div class='imageouter'>
  <div class='imagediv'><img src="<%= song.cover %>" alt="Song Cover" height="75" width="75"></div></div>
    <h2> Music_Title: <%= song.title %></h2>
    <h2> Artist: <%= song.artist %></h2>
    <h2> Cover:</h2>
  <% }); %>
  </div>
  </div>
</div>


  <% include ../partials/footer %>
